<h1>Dreams</h1>

<% @dreams.each do |element| %>
<p><b>
  <%= element.author %>
  </b></p>
<p>
  <%= raw "<i>#{element.content}</i>" %>
  </p>
<p><font color="gray" size="2"><%= "tagged with: #{element.tags}" %>
    </font></p>
  <p>
  <p>
    <%= image_tag element.photo_url, size: "200x200" %>
  </p>
<p><font color="orange" size="3"><%= link_to 'Destroy', dream_path(element), data: {confirm: 'Are you sure?'}, method: :delete %></font></p>
<% end %>