<!DOCTYPE html>
<html>
<head>
  <title>Dreams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>my dreamssss page</p>
<%= yield %>
  
<ul>
    <li> <%= link_to 'home', root_path %> </li>
    <li> <%= link_to 'index', welcome_index_path %> </li>
    <li> <%= link_to 'hello', welcome_hello_path %> </li>
    <li> <%= link_to 'dreams', dreams_path %> </li>
    <li> <%= link_to 'new dream', new_dream_path %> </li>    
  </ul>
  
</body>
</html>
